<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <div>
            Name: <input type='text' name='name' value='<%= name%>' />
        </div>
        <div>
            Surname: <input type='text' name='surname' value='<%= surname%>' />
        </div>
        <div>
            Subject: <input type='text' name='subject' value='<%= subject%>' />
        </div>
        <div>
            Result 1: <input type='text' name='res' value='<%= res[1]%>' />
        </div>
        <div>
            Result 2: <input type='text' name='res' value='<%= res[2]%>' />
        </div>
        <div>
            Result 3: <input type='text' name='res' value='<%= res[3]%>' />
        </div>
        <div>
            Result 4: <input type='text' name='res' value='<%= res[4]%>' />
        </div>
        <div>
            Result 5: <input type='text' name='res' value='<%= res[5]%>' />
        </div>
        <div>
            Result 6: <input type='text' name='res' value='<%= res[6]%>' />
        </div>
        <div>
            Result 7: <input type='text' name='res' value='<%= res[7]%>' />
        </div>
        <div>
            Result 8: <input type='text' name='res' value='<%= res[8]%>' />
        </div>
        <div>
            Result 9: <input type='text' name='res' value='<%= res[9]%>' />
        </div>
        <div>
            Result 10: <input type='text' name='res' value='<%= res[10]%>' />
        </div>
        <button>Zapisz</button>
        <div>
            <td><a href='/print/'>Więcej</a></td>
        </div>
    </form>
</body>
</html>

